










#TicTacToe{


    #board{
        @sizeCell : 200px;


        display:flex;


        .col{display:flex;flex-flow:column nowrap;}

        .col .cell{height:@sizeCell;width:@sizeCell;border:1px solid black;}



    }


}



.help{}